<div layout="column">
    <div flex>
        <p class="left">[To do list]</p>
    </div>

    <div ng-controller="MainController" flex class="left" ng-cloak>
        <p>(Main Work)</p>
        <span ng-repeat="maintodo in mainToDoList | filter: {completed:false}">
            <main maintodo="maintodo"></main>
        </span>
        <br>
        <li ng-show="mainNewTodo.length > 0"> {{mainNewTodo}}</li>
        <form ng-submit="addMainToDo()">
            <div layout="row">
                <div flex="15" class="left">
                    <label>Title</label><br>
                    <input type="text" ng-model="mainNewTodo.title" class="title"/>
                </div>
                <div flex="50">
                    <label>Items</label><br>
                    <input type="text" ng-repeat="item in mainNewTodo.items" ng-model="item.name" class="items"/>
                    <md-button ng-click="addItem()"> + </md-button>
                </div>
                <div flex="20">
                    <label>Due</label><br>
                    <md-datepicker ng-model="mainNewTodo.due" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div flex="10">
                    <md-button type="submit" class="md-raised md-warn submit"> Submit</md-button>
                </div>
            </div>
        </form>
    </div>

    <div flex>
        <div layout="row">
            <div ng-controller="InstantController" flex="30" class="left">
                <p>(Instant Work)</p>
                <span ng-repeat="todo in todoList | filter: {completed:false}">
                    <instant todo="todo"></instant>
                </span>
                <li ng-show="newTodo.length > 0"> {{newTodo}}</li>
                <form ng-submit="addTodo()">
                    <div layout="row">
                        <div flex="60">
                            <input type="text" ng-model="newTodo.description" class="title"/>
                        </div>
                        <div flex="30">
                            <md-button type="submit" class="md-raised md-warn"> Submit</md-button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div ng-controller="RegularController" flex="70" class="left">
                <p>(Regular Work)</p>
                <span ng-repeat="regulartodo in regularToDoList | filter: {completed:false}">
                    <regular regulartodo="regulartodo"></regular>
                </span>
                <li ng-show="regularNewTodo.length > 0"> {{regularNewTodo}}</li>
                <form ng-submit="addRegularToDo()">
                    <div layout="row">
                        <div flex="15" class="left">
                            <label>Title</label><br>
                            <input type="text" ng-model="regularNewTodo.title" class="title"/>
                        </div>
                        <div flex="45">
                            <label>Items</label><br>
                            <input type="text" ng-repeat="item in regularNewTodo.items" ng-model="item.name" class="items"/>
                            <md-button ng-click="addItem()"> + </md-button>
                        </div>
                        <div flex="25">
                            <label>Due</label><br>
                            <md-datepicker ng-model="regularNewTodo.due" md-placeholder="Enter date"></md-datepicker>
                        </div>
                        <div flex="10">
                            <md-button type="submit" class="md-raised md-warn submit"> Submit</md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div flex>
        <br><br>
        <hr>
    </div>
    <!--<div ng-controller="CompletedController" flex>-->
        <!--<p>Completed Work</p>-->
        <!--<ul>-->
            <!--<li ng-repeat="completedtodo in completedToDoList">-->
                <!--<completed completedtodo="completedtodo"></completed>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<hr>-->
    <div flex>
        <p class="left">[Completed]</p>
    </div>
    <div ng-controller="MainController" flex class="left" ng-cloak>
        <p>(Main Work)</p>
        <span ng-repeat="maintodo in mainToDoList | filter: {completed:true}">
            <main maintodo="maintodo"></main>
        </span>
    </div>
    <hr>
    <div flex>
        <div layout="row">
            <div ng-controller="InstantController" flex="30" class="left">
                <p>Instant Work</p>
                <span ng-repeat="todo in todoList | filter: {completed:true}">
                    <instant todo="todo"></instant>
                </span>
            </div>
            <hr>
            <div ng-controller="RegularController" flex="70" class="left">
                <p>Regular Work</p>
                <span ng-repeat="regulartodo in regularToDoList | filter: {completed:true}">
                    <regular regulartodo="regulartodo"></regular>
                </span>
            </div>
        </div>
    </div>
</div>