<div ng-controller="LoginController">
    <form ng-submit="login()">
    <md-content class="autoScroll">
        <md-input-container class="md-block signin">
            <!-- Use floating placeholder instead of label -->
            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block signin">
            <!-- Use floating placeholder instead of label -->
            <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true">
        </md-input-container>
    </md-content>
    <md-button type="submit" class="md-raised md-block">Sign in</md-button>
    </form>
    <br>
    <md-button class="md-raised md-warn" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">Sign up</md-button>
</div>