<md-content class="autoScroll">
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <input ng-model="user.password" type="password" placeholder="Password Again(required)" ng-required="true">
    </md-input-container>
    <md-button type="submit" class="md-raised md-block">Submit</md-button>
</md-content>