<form ng-submit="signUp()" name="signup">
    <md-content class="autoScroll">
        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <input ng-model="user.password" required name="password" type="password" placeholder="Password">
            <div ng-messages="signup.password.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <input ng-model="user.passwordCheck" required name="passwordcheck" type="password" ng-model="user.passwordCheck" placeholder="Password Again">
            <div ng-messages="signup.passwordcheck.$error">
                <div ng-message="required">This is required.</div>
                <div ng-show="user.password !== user.passwordCheck">Does not match.</div>
            </div>
        </md-input-container>
        <md-button type="submit" class="md-raised md-block">Submit</md-button>
    </md-content>
</form>